
.jumbotron {
      background-color: $yellow;
      color: #1C2833;
      text-align: center;
      background: url('https://image.freepik.com/vector-gratis/conjunto-iconos-vector-dibujos-animados-taller-costura-taller-costura-industria-ilustracion-vectorial_161058-21.jpg') repeat center center fixed;
   
  }

.footer {
      padding: 15px  60px 0 10px;
      background-color: #1C2833;
      color: #ffffff;
      margin-bottom: 0px;
      margin-top: 20px;
      padding-left: 250px;
}

 .card-skin {
 	  flex: 1 300px;
 	  padding: 0px 0px 2px 0px;
      margin-top: 15px;

 } 

 .btn-compra {
 	   width: 100%;
 	   border-radius: 0px;
 	   text-align: center;
 	   background-color: #1C2833;
 	   border-color: #1C2833; 
 }

.footer-address-icon {
 	   padding-right: 10px;
 }

.card { 
	padding: 10px;
}

.tab-content {
	padding-top: 20px;
	}

.bnt-collapse {
	height: 50px;
	width: 30%;
 	padding: 4px 10px 4px 10px;
    margin-top: 5px;
    margin-bottom: 10px; 
	}

.popover {
	background-color: #7FB3D5;
	border-color: #7FB3D5;
    min-width: 100px;
    width: 100%;
    max-width: 400px;
    text-align: center;

	}


