.jumbotron {
  background-color: #fffa19;
  color: #1C2833;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0.5em; }

.footer {
  background-color: #fffa19;
  color: #000000;
  padding: 15px 60px 0 10px;
  padding-left: 250px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-skin {
  flex: 1 300px;
  padding: 0px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-compra {
  width: 100%;
  border-radius: 0px;
  text-align: center;
  background-color: #197163;
  border-color: #197163; }

.footer-address-icon {
  padding-right: 10px; }

.card {
  padding: 10px; }

.tab-content {
  padding-top: 20px; }

.bnt-collapse {
  height: 50px;
  width: 30%;
  padding: 4px 10px 4px 10px;
  margin-top: 5px;
  margin-bottom: 10px; }

.popover {
  background-color: #d12c3f;
  border-color: #d12c3f;
  min-width: 100px;
  width: 100%;
  max-width: 400px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
