$yellow: #fffa19;
$black: #000000;
$green: #197163;
$red: #d12c3f;
$darkblue: #1C2833;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
 }


 @mixin relleno($padding) {
    padding: $padding;
     }

 @mixin relleno1($left) {
    padding-left: $left;
     }

 @mixin relleno2($right) {
    padding-right: $right;
     }

 @mixin relleno3($top) {
    padding-top: $top;
     }



.jumbotron {
      background-color: $yellow;
      color: $darkblue;
      text-align: center;
      @include margenes(50px, 0.50em);
       
  }

.footer {      
      background-color: $yellow;
      color: $black;
      @include relleno(15px  60px 0 10px);
      @include relleno1(250px);
      @include margenes(20px, 0px);
}

 .card-skin {
 	  flex: 1 300px;
 	  padding: 0px 0px 2px 0px;
      @include margenes(10px,0px);

 } 

 .btn-compra {
 	   width: 100%;
 	   border-radius: 0px;
 	   text-align: center;
 	   background-color: $green;
 	   border-color: $green; 
 }

.footer-address-icon {
 	   @include relleno2(10px);
 }

.card { 
	@include relleno(10px);
}

.tab-content {
	@include relleno3(20px);
	}

.bnt-collapse {
	height: 50px;
	width: 30%;
 	@include relleno(4px 10px 4px 10px);
    @include margenes(5px,10px);
	}

.popover {
	background-color: $red;
	border-color: $red;
    min-width: 100px;
    width: 100%;
    max-width: 400px;
    text-align: center;

	}