@yellow: #fffa19;
@black: #000000;
@green: #197163;
@red: #d12c3f;
@darkblue: #1C2833;

.margenes(@top: 0px, @bottom: Opx) {
  margin-top: @top;
  margin-bottom: @bottom;
   }


.jumbotron {
  background-color: @yellow;
  color: @darkblue;
  text-align: center;
  .margenes(50px, 0.50em);
   }

.footer {
  background-color: @yellow;
  color: #000000;
  padding: 15px 60px 0 10px;
  padding-left: 250px;
  .margenes(20px, 0px);
  }

.card-skin {
  flex: 1 300px;
  padding: 0px 0px 2px 0px;
  .margenes(10px, 0px);
   }

.btn-compra {
  width: 100%;
  border-radius: 0px;
  text-align: center;
  background-color: @green;
  border-color: @green; }

.footer-address-icon {
  padding-right: 10px; }

.card {
  padding: 10px; }

.tab-content {
  padding-top: 20px; }

.bnt-collapse {
  height: 50px;
  width: 30%;
  padding: 4px 10px 4px 10px;
  margin-top: 5px;
  margin-bottom: 10px; }

.popover {
  background-color: @red;
  border-color: @red;
  min-width: 100px;
  width: 100%;
  max-width: 400px;
  text-align: center; }
